@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: 100;
}

.guy-clicker {
    position: relative;
    font-family: Roboto, sans-serif;
    font-size: 30px;
}

.guy {
    position: absolute;
    width: 40px;
    height: 40px;
}

.guy-inner {
    content: "";
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
}

.hud {
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: left;
}

.flipped {
    transform: scaleX(-1);
}

.guy-collection img {
    width: 40px;
    height: 40px;
}

.guy-spawner {
    position: relative;
    margin: 0 auto;
    width: 20px;
    height: 20px;
}