@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: 100;
}

button {
    font-family: Roboto, sans-serif;
    font-size: 30px;
    background: none;
    border: 1px solid #000;
    border-radius: 5px;
    display: block;
    margin: 10px auto;
}

.guy-clicker {
    position: relative;
}

.guy {
    position: absolute;
    width: 80px;
    height: 80px;
}

.guy-inner {
    content: "";
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;
}

.hud {
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: left;
}

.flipped {
    transform: scaleX(-1);
}

.guy-collection img {
    width: 80px;
    height: 80px;
}

.guy-spawner {
    position: relative;
    margin: 100px auto 0;
    display: inline-block;
}

.portal {
    animation: rotation 3s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-359deg);
    }
}